.equipo-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-bottom: 40px;
}

.streamer-card {
    background-color: #1a1a2e;
    border: 2px solid #00f0ff;
    border-radius: 10px;
    padding: 15px;
    width: 200px;
    text-align: center;
    color: #fff;
    font-family: 'Orbitron', sans-serif;
    box-shadow: 0 0 10px #00f0ff;
    transition: transform 0.3s;
}

.streamer-card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px #00f0ff;
}

.streamer-card img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.body{
     background: rgba(34, 197, 94, 0.2);
}